.root {
  padding: 0 48px;
  max-width: 1440px;
  width: 100%;
  box-sizing: border-box;

  background: rgba(0, 0, 0, 0.2);

  display: flex;
  justify-content: stretch;
  align-items: center;
  position: fixed;
  top: 0;
}

.tomain {
  text-decoration: none;
  color: inherit;

  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.name {
  margin: 0 0 0 18px;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.1px;
  white-space: nowrap;

  color: #ffffff;
}

.logo {
  width: 42px;
  height: 28px;
}
