.root {
  margin: 0;
  padding: 0;

  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item:not(:last-child) {
  margin-right: 4px;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;

  color: #ffffff;

  cursor: pointer;
  transition: all 0.5s ease-in-out;

  &:hover {
    opacity: 0.8;
  }

  .icon {
    font-size: 30px;
  }
}
