@import "~roboto-sass/scss/roboto";
@import "~opensans-npm-webfont";

body {
  margin: 0;
  font-family: "Open Sans", "Roboto", "Arial", Helvetica, sans-serif;
  background: linear-gradient(
    180deg,
    #02275c 0%,
    #02275c 19.88%,
    rgba(88, 54, 121, 0.2) 44%,
    #b3aabc 44%,
    rgba(147, 120, 150, 0.6) 65%,
    #937896 76%,
    #012659 100%
  );
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
